body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section{
    width: 100%;
    min-height: 100vh;
    padding: 5vw;
    background: linear-gradient(135deg, #346de0, #2ec6ce);
}
.container{
    width: 80%;
    margin: 0 auto;
}
.todoapp{
    width: 100%;
    max-width: 600px;
    background-color: aliceblue;
    padding: 40px 40px 40px;
    margin: 100px auto 30px;
    border-radius: 16px;
}
.todoapp h2 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.input_line {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 12px;
    border-radius: 20px;
    background-color: rgb(185, 247, 247);
}
input {
    flex: auto;
    border: none;
    outline: none;
    font-weight:500;
    background-color: transparent;
    padding: 10px;
}
button {
    border: none;
    outline: none;
    padding: 12px 50px;
    background-color: rgb(86, 155, 208);
    color:azure;
    border-radius: 40px;
    font-size: 14px;
    cursor: pointer;
    
}